In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3), index = list(range(1,6)), columns= list("ABC"))

In [3]:
df

          A         B         C
1 -0.403788 -0.352137  0.228029
2  1.842861  1.224240 -0.637252
3 -0.404406 -1.079524 -0.345674
4  0.916902  0.934174  0.607916
5 -0.089543 -0.041963  0.242349

In [4]:
df[df.B>0] #找dataFrame 裡的資料B >0

          A         B         C
2  1.842861  1.224240 -0.637252
4  0.916902  0.934174  0.607916

In [5]:
df[df.B>0]["C"] = 0 #想讓B>0的資料中的C改成等於0

C:\Users\edsonrose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df.loc[2, "B"]=1 #讓第二列的B值改成1

In [7]:
df

          A         B         C
1 -0.403788 -0.352137  0.228029
2  1.842861  1.000000 -0.637252
3 -0.404406 -1.079524 -0.345674
4  0.916902  0.934174  0.607916
5 -0.089543 -0.041963  0.242349

In [9]:
df.loc[df.B>0,"C"] = 0
df

          A         B         C
1 -0.403788 -0.352137  0.228029
2  1.842861  1.000000  0.000000
3 -0.404406 -1.079524 -0.345674
4  0.916902  0.934174  0.000000
5 -0.089543 -0.041963  0.242349