In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
mydata = np.random.randn(4,3)

In [3]:
mydata

array([[ 0.34526557,  0.2133003 , -0.26764918],
       [-0.72223511, -1.11857339, -0.13082058],
       [ 1.70196307,  0.29858081, -0.49542935],
       [ 0.13463726, -1.17765831, -1.17835553]])

In [4]:
df1 = pd.DataFrame(mydata, columns= list("ABC"))  #生成dataframe pd.DataFrame(資料,columns=list("資料行名稱"))

In [5]:
df1

          A         B         C
0  0.345266  0.213300 -0.267649
1 -0.722235 -1.118573 -0.130821
2  1.701963  0.298581 -0.495429
3  0.134637 -1.177658 -1.178356

In [6]:
df2 = pd.DataFrame(np.random.randn(3,3),columns=list("ABC"))

In [7]:
df2

          A         B         C
0  0.336873  1.352026  1.056701
1  0.732784  0.355167 -0.155345
2  1.474297  0.011197 -1.275871

In [8]:
df3 = pd.concat([df1, df2],axis=0) #concat合併dataframe , #axis 控制合併的方向, 方向row為 0, column為 1

In [9]:
df3

          A         B         C
0  0.345266  0.213300 -0.267649
1 -0.722235 -1.118573 -0.130821
2  1.701963  0.298581 -0.495429
3  0.134637 -1.177658 -1.178356
0  0.336873  1.352026  1.056701
1  0.732784  0.355167 -0.155345
2  1.474297  0.011197 -1.275871

In [15]:
df3.index = list("甲乙丙丁戊己庚") #更改index序號

In [16]:
df3

          A         B         C
甲  0.345266  0.213300 -0.267649
乙 -0.722235 -1.118573 -0.130821
丙  1.701963  0.298581 -0.495429
丁  0.134637 -1.177658 -1.178356
戊  0.336873  1.352026  1.056701
己  0.732784  0.355167 -0.155345
庚  1.474297  0.011197 -1.275871

In [10]:
df4 = pd.concat([df1, df2], axis=1)

In [11]:
df4

          A         B         C         A         B         C
0  0.345266  0.213300 -0.267649  0.336873  1.352026  1.056701
1 -0.722235 -1.118573 -0.130821  0.732784  0.355167 -0.155345
2  1.701963  0.298581 -0.495429  1.474297  0.011197 -1.275871
3  0.134637 -1.177658 -1.178356       NaN       NaN       NaN

In [19]:
df4.columns = list("ABCDEF")

In [20]:
df4

          A         B         C         D         E         F
0  0.345266  0.213300 -0.267649  0.336873  1.352026  1.056701
1 -0.722235 -1.118573 -0.130821  0.732784  0.355167 -0.155345
2  1.701963  0.298581 -0.495429  1.474297  0.011197 -1.275871
3  0.134637 -1.177658 -1.178356       NaN       NaN       NaN